<div class="deck-list panel panel-default">
	<div class="panel-heading">
		<h3>Decks <a ng-href="#">+</a></h3>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="deck in decks">
				<img class="hero-icon pull-left"
					ng-src="assets/images/classes/icon-{{deck.heroClass.toLowerCase()}}.png">
				<a ng-href="#/decks/edit/{{deck.name}}">
					<h3 ng-bind="deck.name"></h3>
				</a>
				<i class="glyphicon glyphicon-remove pull-right"
					ng-click="deleteDeck(deck)"></i>
			</li>
		</ul>
		<h2 ng-if="!decks">
			No saved decks.
		</h2>
	</div>
</div>