<div class="deck panel panel-default">
	<div class="panel-heading">
		<span ng-bind="deck.name || '<Deck Name>'"></span>
		<span ng-bind="cardCount"></span> / 30
		<img ng-src="assets/images/stats/dust.png"><span ng-bind="dust"></span>
	</div>
	<div class="panel-body">
		<table>
			<tbody>
				<tr ng-repeat="entry in deckEntries" tooltip-html-unsafe="{{entry.card.description}}">
					<td ng-bind="entry.card.name"></td>
					<td ng-bind="entry.count"></td>
					<td>
						<i ng-click="addCard(entry.card)" class="glyphicon glyphicon-plus-sign"></i>
						<i ng-click="removeCard(entry.card)" class="glyphicon glyphicon-minus-sign"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>