<div ng-controller="SearchCards">
	<div class="filters">
		<ul class="nav nav-tabs">
			<li ng-class="{ active: activeCategory === heroClass }"
				ng-click="activeCategory = heroClass">
				<a><img ng-src="assets/images/classes/icon-{{heroClass.toLowerCase()}}.png"></a>
			</li>
			<li ng-class="{ active: activeCategory === null }"
				ng-click="activeCategory = null">
				<a><img ng-src="assets/images/classes/icon-neutral.png"></a>
			</li>
			<div class="mana-filters pull-left">
				<button ng-click="costFilter = 1">1</button>
				<button ng-click="costFilter = 2">2</button>
				<button ng-click="costFilter = 3">3</button>
				<button ng-click="costFilter = 4">4</button>
				<button ng-click="costFilter = 5">5</button>
				<button ng-click="costFilter = 6">6</button>
				<button ng-click="costFilter = 7">7</button>
				<button ng-click="costFilter = 8">8</button>
				<button ng-click="costFilter = 9">9</button>
				<button ng-click="costFilter = 10">+</button>
			</div>
			<input class="pull-left"
				placeholder="Search term..."
				ng-model="searchTerm" />
			<button class="pull-left" ng-click="clearFilters()">
				X
			</button>
		</ul>
	</div>
	<div class="tab-content card-search">
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td></td>
					<td>Type</td>
					<td>Cost</td>
					<td>Attack</td>
					<td>Health</td>
					<td>Durability</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="card in cards"
					tooltip-html-unsafe="{{card.description}}"
					tooltip-placement="right">
					<td ng-bind="card.name">
					</td>
					<td>
						<img ng-src="assets/images/rarity/{{card.rarity}}.png">
					</td>
					<td ng-bind="card.card_type">
					</td>
					<td>
						<img ng-src="assets/images/stats/mana.png">{{card.cost}}
					</td>
					<td>
						<img ng-if="card.attack" ng-src="assets/images/stats/attack.png">{{card.attack}}
					</td>
					<td>
						<img ng-if="card.health" ng-src="assets/images/stats/health.png">{{card.health}}
					</td>
					<td>
						<img ng-if="card.durability" ng-src="assets/images/stats/weapon-durability.png">{{card.durability}}
					</td>
					<td>
						<i ng-click="addCard(card)" class="glyphicon glyphicon-plus-sign"></i>
						<i ng-click="removeCard(card)" class="glyphicon glyphicon-minus-sign"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>