.card-search {
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	clear: both;

	table {
		background-color: fade(@white, 20%);
		tbody > tr > td > img, i {
			cursor: pointer;
			width: 15px;
		}
	}
}

.filters {
	height: 86px;
	padding: @unit;
	margin-bottom: 3 * @unit;

	ul.nav > li {
		border-radius: @unit;
		background-color: fade(@white, 50%);
		a {
			img {
				width: 50px;
			}
		}
	}
	input {
		margin-right: @unit;
	}
	.mana-filters {
		margin-right: @unit;
		clear: both;
		button {
			background: url('../images/stats/mana.png');
			background-size:   cover;
			background-repeat: no-repeat;
			background-position: center center;		
			color: @white;
			background-position: center;
		}
	}
}

.active-deck {

}