@import 'vars';
@import 'fonts';
@import 'components/header';
@import 'components/classPicker';
@import 'components/containers';
@import 'components/icons';

body {
	line-height: 1.5;
	padding-top: @nav-bar-height + @unit;
	background-image: url('../images/body-content-bg.jpg');
	background-repeat: repeat-y;
}

footer {
	position: fixed;
	bottom: 0;
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}
