<!DOCTYPE html>
<html>
	<head>
		<title>Hearthkeeper</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
		@*-- Add More CSS here -- *@
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		<script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
	</head>
	<body>
		@*-- Header -- *@
		<nav class="navbar navbar-inverse navbar-fixed-top basics-nav" data-ng-controller="HeaderCtrl">
			<ul class="nav navbar-nav pull-right">
				<li>
					<a class="btn btn-default" href="#" role="button">Home</a>
				</li>
				<li>
					<a class="btn btn-default" href="#/decks" role="button">Decks</a>
				</li>
				<li>
					<a class="btn btn-default" href="#/login" role="button">Login</a>
				</li>
			</ul>
		</nav>
		@* -- Main Content -- *@
		<div class="container">
			<div data-ng-view></div>
		</div>
		<footer data-ng-controller="FooterCtrl">
			@*-- TODO: contact footer --*@
		</footer>
	</body>
</html>
