<div class="row">
	<div class="col-md-6" ng-show="!loading">
		<div class="filters">
			<button type="button"
				class="btn btn-default pull-left category"
				ng-click="activeCategory = className"
				ng-bind="className">
			</button>
			<button type="button"
				class="btn btn-default pull-left category"
				ng-click="activeCategory = null">
				Neutral
			</button>
			<div class="mana-filters pull-right">
				<button ng-click="manaFilter = 1">1</button>
				<button ng-click="manaFilter = 2">2</button>
				<button ng-click="manaFilter = 3">3</button>
				<button ng-click="manaFilter = 4">4</button>
				<button ng-click="manaFilter = 5">5</button>
				<button ng-click="manaFilter = 6">6</button>
				<button ng-click="manaFilter = 7">7</button>
				<button ng-click="manaFilter = 8">8</button>
				<button ng-click="manaFilter = 9">9</button>
			</div>
			<input class="pull-left"
				placeholder="Search term..."
				ng-bind="searchTerm" />
		</div>
		<div class="card-search">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Name</td>
						<td>Type</td>
						<td>Cost</td>
						<td>Attack</td>
						<td>Health</td>
						<td>Durability</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="card in cards">
						<td ng-bind="card.name"></td>
						<td ng-bind="card.card_type"></td>
						<td ng-bind="card.cost"></td>
						<td ng-bind="card.attack"></td>
						<td ng-bind="card.health"></td>
						<td ng-bind="card.durability"></td>
						<td>
							<i ng-click="addCard(card)" class="glyphicon glyphicon-plus-sign"></i>
							<i ng-click="removeCard(card)" class="glyphicon glyphicon-minus-sign"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6 active-deck">
		<div class="active-deck">
		</div>
	</div>
</div>